*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
.container {
    max-width: 1125px;
    width: 100%;
    margin: auto;
}
.block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header{
     margin-top: 50px;
}
.link{
    text-transform: uppercase;
    text-decoration: none;
}
.link:hover{
color: #34547A;
}
.logo{
    font-family: 'Revalia', cursive;
    font-size: 48px;
    line-height: 60px;
    color: #34547A;
    text-transform: uppercase;
    text-decoration: none;
}
.navigation {
    max-width: 612px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__link{
    line-height: 26px;
    letter-spacing: 0.1em;
    color: #000000;
}
.section__hero{
    background: #EEEFF1;
    padding-top: 250px;
    padding-bottom: 153px;
    margin-top: -110px;
}
.hero__img{
    margin-left: 85px;
}
.hero__info{
    max-width: 541px;
    width: 100%;
}
.hero__title{
    font-weight: bold;
    font-size: 48px;
    line-height: 79px;
    margin-bottom: 60px;
}
.desc{
    line-height: 26px;
    color: #727272;
    margin-bottom: 60px;
}
.button{
    padding: 25px 41px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor:pointer;
    outline: none;
    border: none;
}
.button--primary{
    color: #FFFFFF;
    background: #34547A;
}
.section__title{
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
}
.block__info{
    max-width: 540px;
    width: 100%;
    margin-top: 110px;
}
.section__desk{
    text-align: center;
    padding: 50px;
}
.section__project{
    background: #34547A;
    padding-top: 250px;
}
.container__project{
    padding: 100px;
    margin-top: -250px;
    text-align: center;
}


.project__img{
    padding: 50px;
}

.photo{
    max-width: 555px;
}
.moi{
    margin-bottom: 50px;
}
.my_skills{
    margin-top: 102px;
    margin-bottom: 101p;
}
.liner1{
    background:linear-gradient(to right,#345474 350px, #c4c4c4 15px);
    width: 445px;
    height: 4px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.liner2{
    background:linear-gradient(to right,#345474 350px, #c4c4c4 15px);
    width: 445px;
    height: 4px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.liner3{
    background:linear-gradient(to right,#345474 350px, #c4c4c4 15px);
    width: 445px;
    height: 4px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.ps{
    line-height: 26px;
    color: #727272;
    margin-bottom: 20px;
}
.kak{
    background: #EEEFF1;
}
.section-question{
    background: #eeeff1;
}
.form{
    max-width: 540px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.input--half{
    width: 250px;
    height: 50px;
}
.input--message{
    width: 540px;
    min-height: 175px;
    margin-bottom: 50px;
}
.input-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.buttons{
    display: flex;
    justify-content: center;
}